# Ignore the build dir
build

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store
*.dSYM
tags
*.tags
TAGS
GTAGS
GRTAGS
GPATH
GSYMS

en

a.out

helium_log.txt
helium.xml

# helium.conf

tmp/*


# latex related
*.fdb_latexmk
*.fls
*.log
*.aux

*.dot
*.png

*.html

*.pdf
