# Ignore the build dir
build

# Ignore any executables
bin/*

helium-output

# Ignore Mac specific files
.DS_Store
*.dSYM
tags
*.tags
TAGS
GTAGS
GRTAGS
GPATH
GSYMS

en

a.out

helium_log.txt
helium.xml

# helium.conf

# latex related
*.fdb_latexmk
*.fls
*.log
*.aux

*.dot
*.png

*.html

*.pdf

.idea
cmake-build-debug

gmon.out
