##############################
## general
##############################

output_folder = helium_result

##############################
## Segment
##############################

# code_selection=annotation
# code_selection=loop
code_selection = divide

segment_timeout = 2000 # mili seconds

##############################
## Context
##############################

context_search_method = linear
context_search_value = 0
max_context_size = 1000 # measured by loc

# TODO unfeasible path v.s. dead code?

##############################
## build
##############################

instrument_position = loop
instrument_type = vairable

##############################
## Code Simplification
##############################
        
# simplify_output_var
# simplify_branch # simplify branch by analyzing if the branch cannot be reached at all.

##############################
## test
##############################

# run_test
test_generation_method = random
test_number = 10
test_timeout = 100 # mili-seconds

##############################
## analyze
##############################

# run_analyze
analyze_type = invariant
analyze_timeout = 100

