##############################
## general
##############################

output-folder = helium_result

##############################
## Segment
##############################

# code_selection=annotation
# code_selection=loop
code-selection = divide

##############################
## Context
##############################

context-search-method = linear
context-search-value = 0

# TODO unfeasible path v.s. dead code?

##############################
## build
##############################

instrument-position = loop
instrument-type = vairable
                
##############################
## Code Simplification
##############################
        
# simplify_output_var
# simplify_branch # simplify branch by analyzing if the branch cannot be reached at all.

##############################
## test
##############################

# run_test
test-generation-method = random
test-number = 10
test-timeout = 100 # mili-seconds

##############################
## analyze
##############################

# run_analyze
analyze-type = invariant
analyze-timeout = 100

##############################
## scalability limit
##############################
max-snippet-number = 100
max-snippet-size = 2000
segment-timeout = 2000 # mili seconds
max-segment-size = 50
max-context-size = 1000 # measured by loc
